<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.dao.user.UserLogRecordMapper">
    <resultMap id="user" type="userLogRecord">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userTel" column="user_tel"/>
        <result property="realName" column="real_name"/>
        <result property="pinyin" column="pinyin"/>
        <result property="eamil" column="eamil"/>
        <result property="address" column="address"/>
        <result property="userEdu" column="user_edu"/>
        <result property="superman" column="superman"/>
        <result property="userSchool" column="user_school"/>
        <result property="idCard" column="user_idcard"/>
        <result property="bank" column="bank"/>
        <result property="themeSkin" column="theme_skin"/>
        <result property="birth" column="birth"/>
        <result property="userSign" column="user_sign"/>
        <result property="password" column="password"/>
        <result property="salary" column="salary"/>
        <result property="imgPath" column="img_path"/>
        <result property="hireTime" column="hire_time"/>
        <result property="isLock" column="is_lock"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="fatherId" column="father_id"/>
        <result property="holiday" column="holiday"/>
        <result property="sex" column="sex"/>

    </resultMap>

</mapper>